node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

lib-cov/

coverage/
*.lcov

.nyc_output/

.grunt/

bower_components/

package-lock.json
yarn.lock
pnpm-lock.yaml

.env
.env.test
.env.development
.env.production
.env.local
.env.*.local

.cache
.parcel-cache

.next/
out/

.nuxt
dist

.web/

.cache/
public

.vuepress/dist

.serverless/

.fusebox/

.dynamodb/

.tern-port

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*~

.idea/

*.swp

venv/
__pycache__/

.ipynb_checkpoints

tmp/
temp/

.idea/
*.sln
*.user
*.userosscache
*.suo
*.DotSettings*

.vscode/

*.local
